<div class="container">
    <br />

    <div class="card">
        <div class="card-header">
            <h2 class="card-title" th:text="${article.getTitle()}" th:href="'/article/view/' + ${article.getId()}"></h2>
        </div>
        <div class="card-block">
            <p class="card-text" th:text="${article.getText()}"></p>
        </div>
        <div class="card-footer text-muted">
            <span th:text="'Posted by ' + ${article.getAuthor().getUsername()} "></span>
            <span th:text="'on ' + ${#dates.format(article.getDatePublished(), 'dd MMMM yyyy HH:mm')}"></span>
        </div>
    </div>

    <br />
    <div th:replace="/article/add-comment"></div>
    <div id="comments" th:attr="data-post-id=${article.getId()}"></div>
</div>