<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2 class="title" th:text="${article.getTitle()}"></h2>
                </header>

                <small class="author">
                    <i th:text="'Posted on ' + ${#dates.format(article.getDatePublished(), 'dd MMMM yyyy')}"></i>
                    <i th:text="' by ' + ${article.getAuthor().getUsername()}"></i>
                </small>

                <p th:text="${article.getText()}"></p>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-success btn-md" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>