<br />

<div class="container">

    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Delete user</h2>
        </div>
        <div class="card-block">
            <form th:method="post" th:object="${user}">
                <div class="form-group row">
                    <label class="form-control-label" for="inputUsername">Username</label>
                    <input type="text" class="form-control" th:field="*{username}" id="inputUsername" />
                </div>

                <div class="form-group row">
                    <input type="checkbox" th:field="*{isEnabled}" value="true" />
                </div>

                <div class="form-group row" th:object="${roles}">
                    <label class="form-control-label" for="inputRole">Role</label>
                    <!--<input type="text" class="form-control" th:value="${user.getAuthorities().iterator().next().getAuthority()}"/>-->
                    <select type="text" class="form-control" id="inputRole">
                        <option th:each="role: ${roles}" th:value="${role.getAuthority()}" th:text="${role.getAuthority()}"></option>
                    </select>
                </div>

                <div class="form-group row">
                    <a class="btn btn-info" href="/admin/users" role="button" >Cancel</a>
                    <input type="submit" class="btn btn-success" value="Edit User"/>
                </div>

            </form>
        </div>
    </div>
</div>
