<div class="container">
    <div class="jumbotron">
        <h1>Welcome to our Blog</h1>

        <div sec:authorize="hasRole('ROLE_ADMIN') OR hasRole('ROLE_AUTHOR') OR hasRole('ROLE_USER')">
            <p>Hello, <span sec:authentication="name"></span></p>
        </div>
    </div>

    <div th:each="article : ${articles}">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <a th:text="${article.getTitle()}" th:href="'/article/view/' + ${article.getId()}"></a>
                </h4>
            </div>
            <div class="card-block">
                <p class="card-text" th:text="${article.getText()}"></p>
            </div>
            <div class="card-footer text-muted">
                <span th:text="'Posted by ' + ${article.getAuthor().getUsername()} "></span>
                <span th:text="'on ' + ${#dates.format(article.getDatePublished(), 'dd MMMM yyyy HH:mm')}"></span>
            </div>
        </div>

        <br />
    </div>
</div>
